<!DOCTYPE html>
<html>
    <head>
        <title>To-Do List</title>
    </head>
    <body>
        <div class="box">
            <h1>Todo list</h1>
        </div>
        <div class="box">
            <li>Create videos</li>
            <li>Update Changes on Git</li>
            <li><%= exej %></li>
            <form action="/" method="POST">
                <input type="text" name="ele1" placeholder="Enter the task">
                <button type="submit">+</button>
            </form>
        </div>
    </body>
</html>